pkgbase = sysstat
	pkgdesc = Collection of performance monitoring tools (iostat,isag,mpstat,pidstat,sadf,sar)
	pkgver = 12.7.5
	pkgrel = 1
	url = https://sysstat.github.io
	arch = x86_64
	arch = arm
	arch = aarch64
	arch = i686
	arch = mips
	arch = powerpc
	license = GPL
	optdepends = tk: to use isag
	optdepends = gnuplot: to use isag
	options = zipman
	backup = etc/conf.d/sysstat
	backup = etc/conf.d/sysstat.ioconf
	source = https://github.com/sysstat/sysstat/archive/refs/tags/v12.7.5.tar.gz
	source = lib64-fix.patch
	sha512sums = 97a96023b3d7e579184e1394b7a1ff8cc09654359a9f103ba954464aae8f31dbac275ff238e24cce57aa83a212bf18d91734f3f77f7c0ebc9c18b8958730753e
	sha512sums = 6caae9962a636e5152b0462d0dce835d8f658848723bee2d7ac903a0f170a491882c819457c882bcee41159960fa243fb843a2389c9a4ceeea061a5520e01103

pkgname = sysstat
